/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0f172a;
}

nav h1 {
  color: #00ff88;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #020617, #0f172a);
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
  color: #cbd5e1;
}

/* BUTTON */
.btn {
  padding: 12px 25px;
  background: #00ff88;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* BRAND SECTION */
.brand {
  padding: 50px 20px;
  text-align: center;
}

.brand h2 {
  margin-bottom: 20px;
}

.brand p {
  max-width: 700px;
  margin: auto;
  color: #94a3b8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero h2 {
    font-size: 1.8rem;
  }
}
